.button{

    max-width: 600px;

    background-color: var(--green-900);
    border: 0;
    padding: 0.4rem;
    color: var(--gray-100);
    border-radius: 0.5rem;
    transition: filter 0.2s;

 

    }





.buttonText{

    color: var(--dark-700);
    
}




